/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/css/estilo.css ***!
  \********************************************************************************************************************/
body {
  background-color: #0f3453; }

/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/scss/index.scss ***!
  \*********************************************************************************************************************/
.botao {
  background-color: #0b301d;
  color: #eec746;
  font-size: 1.8em; }

