body {
    background-color: rgb(118, 187, 240);
    background-image: url(../imgs/92ce5106a5babbafbb46914762679bdb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}